* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "regular";
  font-weight: 400;
  font-size: 14px;
  color: #292929;
}

body {
  height: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  margin-left: -10px;
  width: 7px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #d9d9d9; /* 스크롤바의 색상 */
  border-radius: 10px;
  background-clip: padding-box;
}

input {
  font-family: "regular";
  color: #565659;
}

input[type="password"] {
  font-family: "regular";
}

input[type="password"]::placeholder {
  font-family: "regular";
}

::placeholder {
  font-weight: 400;
  font-size: 20px;
  color: #9e9e9e;
}

@font-face {
  font-family: "regular";
  src: url("./asset/fonts/NanumSquareNeo-R.ttf");
}

@font-face {
  font-family: "bold";
  src: url("./asset/fonts/NanumSquareNeo-B.ttf");
}

@font-face {
  font-family: "title";
  src: url("./asset/fonts/NanumSquareNeo-H.ttf");
}
